/* Added external fonts*/

@import url('https://fonts.googleapis.com/css?family=Kreon:400,700|Ubuntu:400,700&display=swap');

h1{
  font-family: 'Ubuntu', sans-serif;
font-weight: 700;
color:#97CC04;
}

h2{font-family: 'Ubuntu', sans-serif;
color:#97CC04;
}

h3{
  font-family: 'Ubuntu', sans-serif;
  color:#97CC04
}

p{
  font-family: 'Kreon', serif;
  color: #97CC04;
}

ul{
  font-family: 'Kreon', serif;
  color: #97CC04;
}

ol{
  font-family: 'Kreon', serif;
  color:#97CC04;
}

body{
background-color: #474647;}

nav{
  color:#474647;
}
